/*STEP 1:  configure an element to be animated using the shortcut animation property which combines name, duration, iteration count, and timing function into ONE line.*/

#animated-emoji {
    font-size: 125px;
    /*spin in place V*/
    display: inline-block; 
    animation: move-emoji 5s infinite ease-in-out;
margin:0;}

/*STEP 2: define an animation sequence*/

@keyframes move-emoji {
    0% {
        transform: rotate(0deg);}
    50% {
        transform: rotate(180deg) scale(0.5);}
    100% { 
        Transform: rotate(360deg);}
    }


.box {
    background: rgb(196, 224, 241);
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
    /*just to look better*/
}

/*Transform is a property with function values that change elements in various ways*/

#rotate{
    transform:rotate(10deg);
}
#scale{
    transform:scale(.9);
/*scale(1)= origional*/
}
#skew{
    transform:skew(-10deg);
}

#translate{
    transform:translate(10px,5px)
    /*translates like a graph along x and y axis
    example: 10px (x),5px (y)*/
}
#chain {
    transform: rotate(95deg) skew(-10deg) scale(.9) translate(10px,15px)

  /*You can chain/ merge transforms on one element*/
}
}
